body {
    margin: 8px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
.header_container {
    position: sticky;
    top: 0;
    background: #009aff;
    width: 100%;
}
.header_inner {
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
}
.header_logo_img {
    width: 120px;
}
.header_list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
}
.header_logo_link{
    margin-left: 50px;
    display: block;
}
.header_link {
    text-decoration: none;
    color: #676767;
    font-family: "Lato";
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 12px 20px;
    border-radius: 2px;
}
.header_link:hover {
    color: #ffffff;
    background: #ffbb42;
}
.phone_link {
    text-decoration: none;
}
.wrap {
    margin: 7% auto;
    width: 1200px;
}
.photo {
    display: flex;
    justify-content: space-evenly;
}