.header_container {
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    background: #009aff;
}
.header_logo_img {
    width: 120px;
}
.header_list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
}
.header_logo_link{
    margin-left: 50px;
    display: block;
}
.header_link {
    text-decoration: none;
    color: #676767;
    font-family: "Lato";
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 12px 20px;
    border-radius: 2px;
}
.header_link:hover {
    color: #ffffff;
    background: #ffbb42;
}